<div class="container-fluid">
<h5> <strong> Comments </strong> </h5>

<table class="table table-sm">
  <tbody  id='all-comments'>
    <% @comments.each do |comment| %>
      <tr id='comment-<%= comment.id %>'>
        <td> <strong> <%=comment.user.name + "  " %> </strong>  <i> <%= comment.body %>  </i> </td> 
        <td>
        	<%= "Reported by : " %>
          <ul id='<%= comment.id %>'>
          <% arr = comment.reports.includes(:user).pluck(:name) %>
            <% arr.each do |name| %>
              <li>  <%=  name %> </li> 
            <% end %> 
          <ul>
        </td>
        <td><%= link_to 'Destroy', post_comment_path(@post,comment), method: :delete, remote: true, data: { confirm: 'Are you sure?' } if current_user.id == comment.user_id %> <%= link_to ' | Edit', edit_post_comment_path(@post,comment)  if current_user.id == comment.user_id %> <%=link_to' | Reporto', report_post_comment_path(@post,comment), method: :post, remote: true if !arr.include?(current_user.name) %>   </td>
      </tr>

    <% end %>
  </tbody>
</table>
<br>

<%= render file: 'comments/new', post: @post, comment: @comment = @post.comments.new %>


</div>