<div class="container">
  <h1 class="page-header" style="align-content: center;">Posts</h1>
  <table class="table">

    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col">Creator</th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.body %></td>
          <td><%= post.user.name %></td>
          <td><%= link_to 'Show', post, :class => "btn btn-primary" %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', remote: true if post.user_id == current_user.id %></td>
          <td><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-primary' if post.user_id == current_user.id %></td>         
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<%= link_to 'New Post', new_post_path, :class => "btn btn-primary" %>
</div>