<!DOCTYPE html>
<html>
  <head>
    <title>Admin | Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
  </head>

  <body>
      <%= render 'shared/navbar_admin' %>
      <% if admin_signed_in? %>
        <%= render "shared/sidebar" %>
      <% end %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>
  </body>
</html> 